section {
  max-height: 1080px;
  padding-bottom: var(--space-xs);
  padding-left: calc(var(--space-6xl) * 2);
  padding-right: var(--space-m);
}

.section-header {
  max-height: 1080px;
  padding-bottom: var(--space-xs) !important;
  padding-left: calc(var(--space-6xl) * 1.9) !important;
  padding-right: var(--space-2xl) !important;
}

.titulo-header{
  background:color-mix(in lab, #000000 26%, transparent);
  --backdrop: blur(25px) saturate(120%);
  backdrop-filter: var(--backdrop);
  background: linear-gradient(to bottom, #12509bc6 10%, #12509b49 100%);
  border-bottom: 2px solid #ffffff;
  
}


  .table {
    width: 100%; /* Deixa a tabela responsiva dentro do container */
    font-size: 0.9rem; /* Tamanho de fonte menor */
  }
  
  .table th,
  .table td {
    padding: 8px; /* Reduz o espaçamento entre células */
    text-align: center;
  }
  
  .table thead th {
    background-color: #f8f9fa; /* Cor mais leve para o cabeçalho */
  }
  
  .bg-light {
    padding: 1rem; /* Ajusta o padding para deixar mais compacto */
    max-width: 98%;
  }
  
  .btn {
    font-size: 0.85rem; /* Diminui o tamanho dos botões */
    padding: 4px 8px;
  }
  