<section class="mt-3">
  <div class="d-flex flex-row justify-content-space-around" style="column-gap: var(--space-m);">
    <div class="card text-center" style="width: 250px; height: 300px">
      <div class="card-header">Featured</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  
  
    <div class="card text-center" style="width: 250px; height: 300px">
      <div class="card-header">Featured</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary" data-mdb-ripple-init>Button</a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</section>
