
.item {
  padding: 10px;
  background-color: lightblue;
}

section {
  max-height: 1080px;
  padding-bottom: var(--space-l);
  padding-left: calc(var(--space-6xl) * 2);
  padding-right: var(--space-2xl);
}


.card {
  border-radius: 15px;
}

section{
  padding-right: 0 !important;
}