<div class="container-fluid">
  <div class="input-group p-3 align-items-center "  style="margin-left: 300px;">
    <div class="form-outline" data-mdb-input-init style="flex: 1; border-radius: 6px; min-width: 20px; max-width: 1000px; background: rgb(110, 110, 110);">
      <input type="search" id="form1" class="form-control" style="width: 100%;" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-warning" data-mdb-ripple-init>
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
