<section class="titulo-header d-flex justify-content-between w-100">
  <h1 class="d-flex align-items-center" style="font-family:'Gotham'; color:#ffffff; margin-top: 15px; text-shadow: 2px 2px 5px #00000049">
    <i class="fas fa-file-text me-2"></i>
    Documentos</h1>
  <app-search-bar style="margin-top: -5px !important;"></app-search-bar>
</section>

<!-- Tabela de documentos existentes -->
<section class="mt-3">
  <div class="bg-light p-4 rounded shadow-sm">
    <div class="d-flex justify-content-between">
      <h4>Lista de Documentos</h4>
      <a href="admin/documentos/add" class="btn mb-2 p-2" style="font-weight:500; background-color: #ec7324; color: white">
        <i class="fa-solid fa-circle-plus me-2"></i>Adicionar Documentos</a>
    </div>
    <table class="table">
      <thead>
        <tr class="table-warning">
          <!-- th scope="col">#ID</th -->
          <th scope="col">Titulo</th>
          <th scope="col">Conteudo</th>
          <th scope="col">Departamento</th>
          <th scope="col">Categoria</th>
          <th scope="col">Criado em</th>
          <th scope="col">Atualizado em</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody class="mb-6">
        @for (documento of documents; track $index) {
        <tr class="table-light">
          <!-- th scope="row">{{ eleitor.id }}</th -->
          <td>{{ documento.title }}</td>
          <td>{{ documento.content }}</td>
          <td>{{ documento.department }}</td>
          <td>{{ documento.category }}</td>
          <td>{{ documento.createdAt }}</td>
          <td>{{ documento.updatedAt }}</td>
          <td class="alinharDireita">
            <a class="btn btn-primary" href="admin/documentos/edit/{{ newDocument.id }}">Editar</a>
            <a class="btn btn-danger" (click)="deletar(newDocument.id)">Deletar</a>
          </td>
        </tr>
        }
      </tbody>
      <div *ngIf="documents.length === 0">
        <p>Nenhum documento encontrado.</p>
      </div>
    </table>
  </div>
</section>
