<section class="titulo-header d-flex justify-content-between w-100">
  <h2 class="d-flex align-items-center" style="font-family:'Gotham'; color:#ffffff; margin-top: 15px; text-shadow: 2px 2px 5px #00000049">
    <i class="fas fa-file-alt me-2"></i>
    Documentos
  </h2>
  <app-search-bar style="margin-top: -5px !important;"></app-search-bar>
</section>

<!-- Lista de Documentos -->
<section class="mt-4 mb-4 container">
  <div class="bg-light p-4 rounded shadow-sm">
    <div class="d-flex justify-content-between">
      <h4 style="color: #12509b;">Lista de Documentos</h4>
      <a href="admin/documentos/add" class="btn mb-2 p-2" style="background-color: #ec7324; color: white; font-weight:500;">
        <i class="fa-solid fa-circle-plus me-2"></i>Adicionar Documento
      </a>
    </div>

    <table class="table table-light table-hover mt-2 shadow-sm">
      <thead>
        <tr>
          <th scope="col" class="text-start">Nome</th>
          <th scope="col" class="text-start">Descrição</th>
          <th scope="col" class="text-start">Departamento</th>
          <th scope="col" class="text-start">Arquivo</th>
          <th scope="col" class="acoes text-end">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-container *ngIf="paginatedDocuments.length > 0; else noDocuments">
          <tr *ngFor="let document of paginatedDocuments; trackBy: trackById">
            <td class="text-start text-truncate" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              {{ document.title }}
            </td>
            <td class="text-start text-truncate" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              {{ document.description }}
            </td>
            <td class="text-start">{{ document.department.name }}</td>
            <td class="text-start">
              <!-- Botão para visualizar o PDF -->
              <button (click)="visualizarPdf(document.filePath)" class="btn btn-link p-0">
                <i class="fas fa-file-pdf"></i> Visualizar PDF
              </button>
            </td>

            <td class="text-end">
              <a class="btn btn-success me-2" [href]="document.filePath" target="_blank">
                <i class="fas fa-download"></i> Baixar PDF
              </a>
            </td>

            <td class="text-end"> 
              <a class="btn btn-primary me-2" href="admin/documentos/edit/{{document.id}}">
                <i class="fas fa-pen"></i> Editar
              </a>
              <button class="btn btn-danger" (click)="deletar(document.id)">
                <i class="fas fa-trash me-1"></i> Deletar
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noDocuments>
          <tr>
            <td colspan="5" class="text-center">
              Nenhum documento encontrado.
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <!-- Exibe a paginação apenas se houver mais de 5 documentos -->
    <div *ngIf="documents.length > 5" class="d-flex justify-content-between mt-3">
      <div>
        <label for="itemsPerPage" class="custom-label">Itens por página:</label>
        <select class="form-select custom-select" id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="changePageSize()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select>
      </div>

      <!-- Controles de Paginação -->
      <ul class="pagination align-items-center mt-3 mb-0">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
          <a class="page-link border-3 text-white hover-custom" href="javascript:void(0)" (click)="goToPage(currentPage - 1)">
            Anterior
          </a>
        </li>

        <li class="page-item disabled">
          <span class="page-link">{{ currentPage }} de {{ totalPages }}</span>
        </li>

        <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
          <a class="page-link border-3 text-white hover-custom" href="javascript:void(0)" (click)="goToPage(currentPage + 1)">
            Próxima
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Modal para visualizar PDF -->
<div *ngIf="showModal" class="modal fade show" style="display: block;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Visualizar Documento</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
      </div>
    </div>
  </div>
</div>
