section {
  max-height: 1080px;
  padding-bottom: var(--space-xs) !important;
  padding-left: calc(var(--space-6xl) * 2) !important;
  padding-right: var(--space-2xl) !important;
}

.titulo-header{
  background:color-mix(in lab, #000000 26%, transparent);
  --backdrop: blur(25px) saturate(120%);
  backdrop-filter: var(--backdrop);
  background: linear-gradient(to bottom, #12509bc6 10%, #12509b49 100%);
  border-bottom: 2px solid #ffffff;
  
}

h5{
  display: flex;
  justify-content: center;
  color: #124f9b;
  background-color: rgb(255, 255, 255);;
  border-radius: 4px;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.338);
}

hr{
  color: #124f9b;
  
}

p{
  font-family:monospace;
  color: #8d8d8d;
}


.text-strong{
  color: #656565;
}
.table {
  width: 100%;
  /* Deixa a tabela responsiva dentro do container */
  font-size: 0.9rem;
  /* Tamanho de fonte menor */
  background-color: aliceblue;
}

.table th,
.table td {
  padding: 8px;
  /* Reduz o espaçamento entre células */
  text-align: center;
}

.table thead th {
  background-color: #f8f9fa;
  /* Cor mais leve para o cabeçalho */
}

.bg-light {
  padding: 1rem;
  /* Ajusta o padding para deixar mais compacto */
  max-width: 98%;
}

.btn {
  font-size: 0.85rem;
  /* Diminui o tamanho dos botões */
  padding: 4px 8px;
}

.card {
  overflow: hidden; /* Oculta o conteúdo que excede o card */
}

.card-details {
  max-height: 0; /* Inicia oculto */
  overflow: hidden; /* Oculta o conteúdo que excede */
  transition: max-height  0.6s ease-in-out; /* Transição suave para a altura */
}

.card-details.show {
  max-height: 500px; /* Define a altura máxima quando os detalhes estão visíveis */
}


.card-text {
  display: -webkit-box; /* Para navegadores WebKit (Chrome, Safari) */
  display: box; /* Para navegadores não-WebKit */
  -webkit-box-orient: vertical; /* Para navegadores WebKit */
  -webkit-line-clamp: 3; /* Número de linhas que você deseja exibir */
  box-orient: vertical; /* Para navegadores não-WebKit */
  overflow: hidden; /* Oculta o excesso de conteúdo */
  text-overflow: ellipsis; /* Adiciona reticências no final */
}

.separator-container {
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: var(--space-m);
  align-items: center;
  margin-bottom: var(--space-xl);
}

.separator {
  position: relative;
  width: 100%;
  height: 2px;
}

.line {
  width: 100%;
  height: 100%;
  background-color: #ec7324;
  opacity: 1;
}


.notch {
  background-color: #ec7324;
  position: absolute;
  opacity: 1;
  clip-path: polygon(0 -1px, 100% -1px, calc(100% - 10px) 100%, 10px 100%);
  width: 64px;
  height: 8px;
  top: 2px;
  left: -1px;
}


.separator-container2 {
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: var(--space-m);
  align-items: end;
  margin-bottom: var(--space-xl);
}

.separator2 {
  position: relative;
  width: 100%;
  height: 2px;
}

.line2 {
  width: 100%;
  height: 100%;
  background-color: #124f9b;
  opacity: 1;
}


.notch2 {
  background-color: #124f9b ;
  position: absolute;
  opacity: 1;
  clip-path: polygon(0 -1px, 100% -1px, calc(100% - 10px) 100%, 10px 100%);
  width: 64px;
  height: 8px;
  top: 2px;
  right: -1px;
}

.card{
  border: 2px solid #ec742450;
}