<section class="section-header mt-3">
  <p class="m-0" style="font-weight: 500; color: #707EAE;">Pages / Perfil</p>
  <h2 style="color: #12509b;">Perfil</h2>
</section>

<section class="perfil-section d-flex flex-column justify-content-center">
  <div class="perfil-container">
    <div class="perfil-card w-100">
      <div class="perfil-photo p-2 me-4" >
      <!--<img src="{{usuario.foto}}" alt="Foto do usuário" class="perfil-foto d-flex mx-auto shadow-lg" /> -->
      <i class="fas fa-user-circle bg-white" style="font-size: 300px; color: #124F9B;"></i>
        <h2 class="d-flex align-items-center justify-content-center text-center">{{ usuario.username }}</h2>
      </div>
      <hr class="vertical-line ms-2">
      <hr class="horizontal-line">
      <div class="perfil-description p-2 ms-4">

        <div class="separator-container" aria-hidden="true">
          <div class="separator">
            <div class="line">
              <div class="notch"></div>
            </div>
          </div>
          <span class="separator-title">Dados</span>
        </div>

        <p><strong>Nome:</strong><br>{{usuario.nome}}</p>
        <p><strong>Departamento:</strong> <br> {{usuario.departamento}}</p>

      </div>
    </div>
  </div>
</section>