<section class="titulo-header d-flex justify-content-between w-100">
    <h2 class="d-flex align-items-center"
      style="font-family:'Gotham'; color:#ffffff; margin-top: 15px; text-shadow: 2px 2px 5px #00000049">
      <i class="fas fa-address-card me-2"></i>
      Usuários
    </h2>
    <app-search-bar style="margin-top: -5px !important;"></app-search-bar>
  </section>
  
  <!-- Lista de Usuários -->
  <section class="mt-4 mb-4 container">
    <div class="bg-light p-4 rounded shadow-sm">
      <div class="d-flex justify-content-between">
        <h4 style="color: #12509b;">Lista de Usuários</h4>
        <a href="admin/users/add" class="btn mb-2 p-2"
          style="background-color: #ec7324; color: white; font-weight:500;">
          <i class="fa-solid fa-circle-plus me-2"></i>Adicionar Usuário
        </a>
      </div>
  
      <table class="table table-light table-hover mt-2 shadow-sm">
        <thead>
          <tr>
            <th scope="col" class="text-start">Nome</th> 
            <th scope="col" class="text-start">Username</th> 
            <th scope="col" class="text-start">Password</th> 
            <th scope="col" class="text-start">Departamento</th> 
            <th scope="col" class="text-start">Nivel de Acesso</th> 
            <th scope="col" class="acoes text-end">Ações</th> 
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <ng-container *ngIf="paginatedUsers.length > 0; else noUsers">
            <tr *ngFor="let user of paginatedUsers; trackBy: trackById">
              <td class="text-start text-truncate" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{ user.name }}
              </td>
              <td class="text-start text-truncate" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{ user.username }}
              </td>
              <td class="text-start text-truncate" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{ user.password }}
              </td>
              <td class="text-start">{{ user.department.name }}</td>

                  <!-- Nível de Acesso com máscara para exibir "Admin" ou "Não Admin" -->
                  <td>{{ user.isAdmin === 1 ? 'Admin' : 'Não Admin' }}</td>

              <td class="text-end"> 
                <a class="btn btn-primary me-2" href="admin/users/edit/{{user.id}}">
                  <i class="fas fa-pen"></i> Editar
                </a>
                <button class="btn btn-danger" (click)="deletar(user.id)">
                  <i class="fas fa-trash me-1"></i> Deletar
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noUsers>
            <tr>
              <td colspan="2" class="text-center">
                Nenhum Usuário encontrado.
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
  
      <!-- Exibe a paginação apenas se houver mais de 5 usuarios -->
      <div *ngIf="users.length > 5" class="d-flex justify-content-between mt-3">
        <div>
          <label for="itemsPerPage" class="custom-label">Itens por página:</label>
          <select class="form-select custom-select" id="itemsPerPage" [(ngModel)]="itemsPerPage"
            (change)="changePageSize()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
          </select>
        </div>
  
        <!-- Controles de Paginação -->
        <ul class="pagination align-items-center mt-3 mb-0">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
            <a class="page-link border-3 text-white hover-custom" href="javascript:void(0)"
              (click)="goToPage(currentPage - 1)">
              <i class="fas fa-angle-left"></i>
            </a>
          </li>
          <li class="page-item me-2" [ngClass]="{'disabled': currentPage === totalPages}">
            <a class="page-link ms-2 border-3 hover-custom" href="javascript:void(0)" (click)="goToPage(currentPage + 1)">
              <i class="fas fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  