.bg-warning {
    background-color: #ec7324 !important;
  }
  
  section {
    max-height: 1080px;
    padding-bottom: var(--space-xs) !important;
    padding-left: calc(var(--space-6xl) * 2) !important;
    padding-right: var(--space-2xl) !important;
  }
  
  .section-header {
    max-height: 1080px;
    padding-bottom: var(--space-xs) !important;
    padding-left: calc(var(--space-6xl) * 2) !important;
    padding-right: var(--space-2xl) !important;
  }
  
  .titulo-header {
    background: color-mix(in lab, #000000 26%, transparent);
    --backdrop: blur(25px) saturate(120%);
    backdrop-filter: var(--backdrop);
    background: linear-gradient(to bottom, #12509bc6 10%, #12509b49 100%);
    border-bottom: 2px solid #ffffff;
  }
  
  
  .table {
    width: 100%;
        font-size: 0.9rem;
    color: rgb(248,249,250);
  }
  
  .table td {
    padding: 8px;
    text-align: center;
    background-color: #F4F7FE; 

  }
  
  .table th {
    background-color: #12509b;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 15px;
  
  }

  td {
    color: #707EAE;
    font-family: 'Gotham', sans-serif;
  }
  

  .table-cell-truncate {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  
  .bg-light {
    padding: 1rem;
  }
  
  .btn {
    font-size: 0.85rem;
        padding: 4px 8px;
  }
  
  
  
  
    .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  
  .pagination .page-item .page-link {
    border-radius: 50px;
    transition: all 0.3s ease;
    font-weight: 600;
    border-color: #707eae85;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #f4a261;
    color: white !important;
    border-color: #f4a261;
    transform: scale(1.1);
  }
  
  .pagination .page-item.disabled .page-link {
    background-color: #0c0c0c18;
    border-color: #0c0c0c18 ;
    pointer-events: none;
  }
  
  .pagination .page-item.disabled .page-link i {
    color:#0c0c0c38 ;

  }
  
  .pagination .page-item .page-link i {
    color:#707eae85 ;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .pagination .page-item .page-link:hover i {
    transform: scale(1.2);
    color: white;
  }
  
  .pagination .page-item .page-link {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .pagination .page-item .page-link:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-label {
    color: #707EAE;
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 0.9rem;
  }
  
  .custom-select {
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid #707eae85;
    background-color: #F4F7FE;
    color: #707EAE;
    font-size: 1rem;
    appearance: none;
    transition: all 0.3s ease;
    width: 120px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-select:focus {
    border-color: #707EAE;
    outline: none;
    box-shadow: 0 0 8px rgba(79, 79, 79, 0.3);
  
  }
  
  .custom-select:hover {
    border-color: #12509b;
    color: #12509b;
  }
  
  .custom-select option {
    padding: 10px;
    font-size: 1rem;
    background-color: #fff;
    color: #12509b;
  }
  
  .custom-select option:hover {

    color: white;
  }
  
    .custom-select {
    transition: all 0.3s ease;
  }


    @media (max-width: 576px) {
    .custom-select {
      width: 100%;
    }
  }