<div class="position-fixed d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
    <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <a class="nav-link" href="">
        <img src="assets/images/enerluzLogo.png" class="enerluzLogo" alt="enerluzLogo"
        style="width: 100px; height: 70px;">
      </a>
      <span class="fs-4">ENERLUZ</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="admin/dashboard" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href=""></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="admin/documentos" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href=""></use></svg>
          Documentos
        </a>
      </li>
      <li>
        <a href="admin/configuracoes" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href=""></use></svg>
          Configurações
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="50" height="50" class="rounded-circle me-2">
        <strong>Usuario Name</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="admin/profile">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="">Sign out</a></li>
      </ul>
    </div>
  </div>