.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); // Fundo semi-transparente
    z-index: 9999; // Fica acima de outros elementos
  }
  
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-left-color: white; // Cor do spinner
    border-radius: 50%;
    width: 50px; // Tamanho do spinner
    height: 50px;
    animation: spin 1s linear infinite; // Animação do spinner
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  